@* this is base.User, not from Authy.Models *@
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-primary" asp-controller="Home" asp-action="Index">Welcome, @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Users" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Users" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Users" asp-action="Login">Login</a>
    </li>
}
