@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h6>visits: @TempData.Peek("Visits")</h6>
    @{
        TempData.Keep("Visits");
    }
</div>
@section Scripts{
    <script>
        // can read if httpOnly is false
        console.log("cookie",document.cookie)
    </script>
}
 