@model Auth
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<hr/>
<div>
    <form asp-controller="Home" asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Username">Username</label>
            <input type="text" class="form-control" asp-for="Username"/>
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password">Password</label>
            <input class="form-control" type="password" asp-for="Password"/>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>