@model IEnumerable<WorkingWithSQL.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>
<hr/>
<div>
    <div class="list-group-flush">
        @foreach (var product in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@product.Category</h6>
                    <p class="card-text">@product.Description</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
            <hr/>
        }
    </div>
</div>