@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DotNet Journey</h1>
</div>
<hr/>
<div>
    <div class="list-group-flush">
        <a class="list-group-item list-group-item-action" href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mongo-app?view=aspnetcore-6.0&tabs=visual-studio">
            mongodb connction
        </a>
    </div>
</div>