@model IEnumerable<WorkingWithSQL.Models.Store>
@{
    ViewData["Title"] = "Stores";
}

<div class="text-center">
    <h1 class="display-4">Stores</h1>
    <div class="text-end">
        <a class="link-primary" asp-action="Create">create</a>
    </div>
</div>
<hr/>
<div>
    <div class="list-group-flush">
        @foreach (var store in Model)
        {
            <a class="list-group-item list-group-item-action">
                @store.Name
            </a>
        }
    </div>
</div>