@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DotNet Journey</h1>
</div>
<div>
    <ul class="list-group-flush">
        <li class="list-group-item">MVC in action</li>
        <li class="list-group-item">common ActionResult's</li>
        <li class="list-group-item">action parameters</li>
        <li class="list-group-item">custom routes</li>
        <li class="list-group-item">view models</li>
        <li class="list-group-item">razor syntax</li>
        <li class="list-group-item">partial views</li>
    </ul>
</div>